<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>header</key>
			<string>压力室</string>
			<key>rows</key>
			<array>
				<dict>
					<key>key</key>
					<string>temperature</string>
					<key>class</key>
					<string>XTSInfoCell</string>
					<key>label</key>
					<string>压力室温度</string>
				</dict>
				<dict>
					<key>key</key>
					<string>changerate</string>
					<key>class</key>
					<string>XTSInfoCell</string>
					<key>label</key>
					<string>压力变化速率</string>
				</dict>
				<dict>
					<key>key</key>
					<string>pressure</string>
					<key>class</key>
					<string>XTSInfoCell</string>
					<key>label</key>
					<string>压力罐压力</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>header</key>
			<string>模块指示灯</string>
			<key>rows</key>
			<array>
				<dict>
					<key>key</key>
					<string>vacuumpump</string>
					<key>class</key>
					<string>XTSStateCell</string>
					<key>label</key>
					<string>真空泵</string>
				</dict>
				<dict>
					<key>key</key>
					<string>lowpressurevalve</string>
					<key>class</key>
					<string>XTSStateCell</string>
					<key>label</key>
					<string>低压阀</string>
				</dict>
				<dict>
					<key>key</key>
					<string>highpressurevalve</string>
					<key>class</key>
					<string>XTSStateCell</string>
					<key>label</key>
					<string>高压阀
高压阀
</string>
				</dict>
				<dict>
					<key>key</key>
					<string>stablevalve</string>
					<key>class</key>
					<string>XTSStateCell</string>
					<key>label</key>
					<string>稳定阀</string>
				</dict>
				<dict>
					<key>key</key>
					<string>electromagnet</string>
					<key>class</key>
					<string>XTSStateCell</string>
					<key>label</key>
					<string>电磁铁</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
